@{
    ViewData["Title"] = "Phương thức thanh toán";
    Layout = "~/Areas/CustomerUser/Views/Shared/_Customer.cshtml";
}
<div style="margin-top: 10rem; margin-bottom: 2rem">
    <div class="container text-center mt-5">
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading">Chúc mừng bạn đã đặt hàng thành công!</h1>
            <p>Cảm ơn quý khách đã tin tưởng và sử dụng dịch vụ của chúng tôi.</p>

        </div>
        <div>
            <img src="https://i.pinimg.com/736x/92/58/f0/9258f0c267185004768575b28cb58f55.jpg" style="width: 200px; height: 200px" />

        </div>
        <a asp-area="CustomerUser" asp-controller="Dashboard" asp-action="Index" class="btn btn-info mt-3">Tiếp tục mua sắm</a>
    </div>
</div>

