@model DevXuongMoc.Areas.AdminQL.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    <style>
        /* Set the background image */
        body {
            background: url('https://sakos.vn/wp-content/uploads/2022/11/Untitled-4-1200x676-3.jpg') no-repeat center center fixed;
            background-size: cover;
            font-family: 'Source Sans Pro', sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }

        .login-box {
            padding: 20px;
            border-radius: 10px;
            width: 100%;
            max-width: 400px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .login-logo a {
            color: coral;
            font-size: 30px;
            font-weight: 700;
        }

        .login-box-msg {
            text-align: center;
            color: black;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .social-auth-links a {
            border-radius: 5px;
            font-weight: 500;
        }

        .social-auth-links .btn-facebook {
            background-color: #3b5998;
        }

        .btn-facebook:hover {
            background-color: aquamarine;
        }

        .btn-google:hover {
            background-color: aquamarine;
        }
        .social-auth-links .btn-google {
            background-color: #db4437;
        }

        .btn-google:hover {
            background-color: aquamarine;
        }
        .input-group-text, .form-control {
            border-radius: 5px;
        }

        .login-card-body {
            padding: 30px;
        }
        .btn-info:hover {
            background-color: burlywood;
        }
    </style>

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body ">
                <div class="text-center">
                    <a href="~/" style="text-align:center; color:coral; font-weight: bold; font-size: 30px">ĐĂNG NHẬP</a>
                </div>
                <p class="login-box-msg">Đăng nhập để bắt đầu phiên làm việc</p>

                <form asp-action="Index" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" asp-for="Password" placeholder="Mật khẩu" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Nhớ tôi
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <button type="submit" class="btn btn-info btn-block">Đăng nhập</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- HOẶC -</p>
                    <a href="https://www.facebook.com/" class="btn btn-block btn-facebook">
                        <i class="fab fa-facebook mr-2"></i> Đăng nhập qua Facebook
                    </a>
                    <a href="https://www.google.com/?hl=vi" class="btn btn-block btn-google">
                        <i class="fab fa-google-plus mr-2"></i> Đăng nhập qua Google
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html" class="text-white">Quên mật khẩu?</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-white text-center">Đăng ký tài khoản mới</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
